<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Dashboard</span>
      <span class="example-spacer"></span>
      <div class="button-row ">

        <button mat-icon-button matTooltip="Click for filters">
          <mat-icon class="mat-icon" aria-label="profile" md-font-set="material-icons" (click)="sidenav.toggle()">filter_list</mat-icon>
        </button>
        <button mat-icon-button matTooltip="profile">
          <mat-icon class="mat-icon" aria-label="profile" md-font-set="material-icons">person</mat-icon>
        </button>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav position="end" mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>